.container{
    width: 500px;
    height: 500px;
    border: 2px solid;
    margin-top: 20px;
}

.static {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: static;
    margin-bottom: 20px;
}

.relative {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    left: 15px;
    margin-bottom: 20px;
}



